
.os-header {
    background-color: #393D49;
    height: 60px;
  }

  /* 搜索框 */
  .container {
    height: 40px;
    width: 500px;
    padding-top: 10px;
    margin-left: 350px;
  }

  .parent {
    position: relative;
  }

  .search {
    width: 400px;
    height: 35px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
  }

  .btn {
    height: 35px;
    width: 35px;
    position: absolute;
    background: url("../images/search.png") no-repeat;
    top: 6px;
    left: 380px;
    border: none;
    outline: none;
    cursor: pointer;
  }



  #adduser-box {
    width: 600px;
    height: 400px;
    margin-left: 50px;
    background-color: #EEEEEE;
  }

  #adduser-box form {
    width: 650px;
    height: 400px;
    padding-left: 100px;
    padding-top: 20px;
  }

  .btn-submit_reset {
    margin-top: 30px;
    margin-left: 50px;
  }

  .notice {
    width: 225px;
    height: 400px;
    background-color: #EEEEEE;
    position: fixed;
    right: 10px;
    top: 200px;
    overflow: hidden;
    /* visibility: hidden; */
  }

  .notice-title{
    text-align: center;
    font-size: 20px;
  }

  .notice-conten{
    font-size: 16px;
    margin-left: 25px;
  }

  .notice-conten li{
    list-style-type: disc;
  }

  .console-box {
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding-left: 20px;
    background-color: #393D49;
    color: #fff;
  }

  .os-nav {
    height: 45px;
    width: 100%;
    background-color: #282B33;
    line-height: 45px;
  }

  .os-nav ul {
    list-style: none;
    margin-left: 20px;
  }

  .os-nav ul li {
    float: left;
    margin-right: 30px;
    color: #fff;
  }

  .os-nav ul li a {
    color: #fff;
    cursor: pointer;
  }

  .os-nav ul li a:hover {
    color: #009688;
  }

  .left-nav {
    left: 0px;
  }

  .main-body {
    width: 1000px;
    margin-left: 50px;
  }

  .right-body {
    overflow: hidden;
  }

  table,
  th {
    text-align: center !important;
  }

  .show-footer{
    text-align: center;
  }